@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

  * {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  img {
    vertical-align: middle;
  }
  a {
    display: inline-block;
    text-decoration: none;
  }
  ul,
  li,
  ol {
    list-style: none;
  }

  span {
    display: inline-block;
  }
}
:root {
  --white_color: #ffffff;
  --black_363738: #363738;
  --white_F5F5F5: #f5f5f5;
  --white_FEFAF1: #fefaf1;
  --white_FFFFFF: #ffffff;
  --text_whiteFAFAFA: #fafafa;
  --text_black7D8184: #7d8184;
  --text_black000000: #000000;
  --redDB4444: #db4444;
  --button00FF66: #00ff66;
  --hoverE07575: #e07575;
  --hoverA0BCE0: #a0bce0;
  --popins: "Poppins", sans-serif;
  --inter: "Inter", sans-serif;
}

.custom_scrollbar::-webkit-scrollbar {
  width: 7px;
}

.custom_scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.custom_scrollbar::-webkit-scrollbar-thumb {
  background: var(--hoverE07575);
  border-radius: 10px;
}

@layer components {
  .menuUnderLine {
    position: relative;
  }
  .menuUnderLine::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--text_black7D8184);
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
  }

  .menuUnderLine:hover::after {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  .amount {
    position: relative;
  }
  .amount::after {
    position: absolute;
    content: attr(data-amount);
    left: 39%;
    top: -52%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    background-color: var(--redDB4444);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    color: var(--white_FFFFFF);
    font-size: 15px;
  }

  .imagShadow {
    position: relative;
    z-index: 1;
  }
  .imagShadow::after {
    position: absolute;
    content: "";
    left: 50%;
    z-index: -1;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 0px 0px 161px 160px rgba(128, 18, 128, 1);
    -moz-box-shadow: 0px 0px 161px 160px rgba(128, 18, 128, 1);
    box-shadow: 0px 0px 161px 160px rgba(128, 18, 128, 1);
  }

  .acountStyle {
    font-family: var(--popins);
    font-weight: 400;
    color: var(--text_black000000);
  }
}
